@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* MAIN ELEMENTS */
h1 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.04px;
  margin-bottom: 20px;
  
}

h2 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.04px;
}

h3 {
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 26.04px;
}

hr {
  height: 3px;
  background: #000000;
  margin-bottom: 30px;
  border:0px;
}

p {
  font-family: 'Inter';
}

.red-separator {
  filter: drop-shadow(0px 2px 0px #FF0505C7);
}

.red-letter {
  filter: drop-shadow(-3px 0px 0px #FF0505C7);
}

/* ENTIRE PAGE */

.big-container {
  width: 75%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* MEETINGS (TOP) */
.meetings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-meeting {
  text-align: left;
}

/* ARTICLE SECTIONS */

.article-picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.date-text {
  color: #636363;
  margin-top: 0px;
  margin-bottom:0px;
}

.author-text {
  color: #FF0505C7;
  margin-top: 0px;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 110px;
}

.article {
  width: 100%;
}